<div class="row pull-right" style="padding-right: 30px;padding-top: 20px;">
  <h4> <i>Welcome</i> {{currentUser.name}} - <button class="btn btn-primary" (click)="signOut()">Sign Out</button></h4>
</div>
<form [formGroup]="newTaskForm" style="padding: 3%;padding-top: 75px;">
  <div class="row" style="margin: 0px;">
    <div class="col-md-4" *ngFor="let taskItem of taskTypes">
      <h4>{{taskItem.value}} <span class="pull-right">{{taskItem.tasks.length}}</span></h4>
      <button type="button" class="btn btn-primary btn-lg btn-block actionButton"
        (click)="addTask(taskItem.key)">+</button>
      <div class="row" *ngIf="newTaskType && newTaskType==taskItem.key">
        <div class="col-md-12">
          <input class="form-control" placeholder="Give your taks a title" formControlName="title">
          <textarea class="form-control" placeholder="Description..." formControlName="description"></textarea>
          <button type="button" class="btn btn-primary btn-lg btn-block actionButton" [disabled]="newTaskForm.invalid"
            (click)="saveTask()">Save</button>
        </div>
      </div>

      <div cdkDropList [id]="taskItem.key" [cdkDropListData]="taskItem.tasks"
        [cdkDropListConnectedTo]="['toDo','inProgress','completed']" (cdkDropListDropped)="onTaskDrop($event)"
        style="min-height: 200px;">
        <div class="card" *ngFor="let task of taskItem.tasks" cdkDrag>
          <div class="card-body">
            <h5 class="card-title" *ngIf="!task.isEditable">{{task.title}}<i class="fa fa-edit pull-right"
                (click)="edit(task,taskItem.key)"></i></h5>
            <input class="form-control" formControlName="title" *ngIf="task.isEditable">
            <p class="card-text" *ngIf="!task.isEditable">{{task.description}}</p>
            <textarea class="form-control" placeholder="Description..." formControlName="description"
              *ngIf="task.isEditable"></textarea>
            <button type="button" class="btn btn-primary btn-lg btn-block actionButton" *ngIf="task.isEditable"
              [disabled]="newTaskForm.invalid" (click)="updateTask(taskItem.key)">Update</button>
            <p class="card-text">By - {{task.user}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
